// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 8px;
  margin-left: 0;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  text-align: center;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.close:hover {
  background-color: #E64482;
  color: white;
}

.header {
  background-color: #E64482;
  padding: 30px 40px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: auto;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  border: none;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-radius: 20px;
  text-align:center;
}


.addBtn {
  padding: 10px;
  width: 20%;
  background: #EDC70D;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 20px;
}

.addBtn:hover {
  background-color: #BC2123;
}

button {
  text-align: center;
  text-decoration: none;
  left: 500px;
  background: #EDC70D;
  color: #white;
}

button:hover {
  background-color: #BC2123;
}

img {
  width: 15px;
}
